<div class="header">
    <div class="container">
        
        <div class="row">
            <div class="col-md-6">
                <h1> 
                    <a href="" class="title">Student Management System</a>
                </h1>
            </div>
            <!--if user is not succesfully login then shoe them login & register on 
                header for authentication we write methos isAuthentcated 
            inside auth.service.ts -->
            <div class="col-md-4">
                <!--<a href="/add-employee" class="add-employee btn btn-default">Add Employee</a>-->
                <a href="/add-student" class="add-student btn btn-default">Add Student</a>
                <a href="/add-subject" class="add-subject btn btn-default">Add Subject</a>
            
                
                
            </div>

            <!--<div>
                <a class="login btn btn-default" (click)="logout()">Logout</a>    
            </div>-->

        <div>

    </div>
</div>        

         
        