.header{
    padding: 5px 20px;
    background: blueviolet;
}

.title{
    text-decoration: none;
    color: white;
}

.add-student,.add-subject{
    float:right;
    text-decoration: none;
    color: white;
    padding-top: 20px;
}