<!--<table cellspacing ="5" style="width:100%" class="table table-striped">-->
<div class="content">
    <div class="container">
        <title>Subject Details</title>
        <table class="table table-bordered  table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Student ID</th>
                    <th>Subject Name</th>
                    <th>Marks</th>
                    
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let subject_app of sub">
                    <tr>
                        <td style="text-align: center;"><p>{{subject_app.id}}</p></td>
                        <td><p>{{subject_app.subject_name}}</p></td>
                        <td><p>{{subject_app.marks}}</p></td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

        
    </div>
</div>
